body{
    background-color: aquamarine;
}

pre{
    color: crimson;
    font-size:x-large;
}
#cards{
    display: flex;
    justify-content: center;
}

.boxes{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-col{
    height: 30px;
    width: 100px;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    margin-left: 45%;
  
}

#hello_btn{
    height: 30px;
    width: 100px;
    background-color:chartreuse;
    border: none;
    border-radius: 10px;   
}